
<ul>
  <li ng-repeat="item in $ctrl.items.menu_items">
    <div>Name: {{  item.name }}</div>
    <div>Short Name: {{  item.short_name }}</div>
    <div>Description: {{  item.description }}</div>
    <div ng-show="item.small_portion_name === null">Small Meal Size: (none)</div>
    <div ng-hide="item.small_portion_name === null">Small Meal Size: {{ item.small_portion_name }}</div>
    <div ng-show="item.large_portion_name === null">Large Meal Size: (none)</div>
    <div ng-hide="item.large_portion_name === null">Large Meal Size: {{ item.large_portion_name }}</div>

    <div ng-hide="item.price_small === null">
      <div ng-hide="item.small_portion_name === null">Price at Small Meal Size: ${{ item.price_small | number : 2}}</div>
    </div>
    <div ng-hide="item.price_large === null">
      <div ng-hide="item.large_portion_name === null">Price at Large Meal Size: ${{ item.price_large | number : 2}}</div>
    </div>
    <div ng-hide="item.price_large === null">
      <div ng-show="item.small_portion_name === null">
         <div ng-show="item.large_portion_name === null">Price: ${{ item.price_large | number : 2}}</div>
       </div>
     </div>
    <hr>
  </li>
</ul>
